@model Blog.Models.Comment

@{
    ViewBag.Title = "Details";
}
@section head {
    @Styles.Render("~/Styles/comments.css")
}


<h2 id="CommentsTitle">Comment Details:</h2>
<div>
    <table class="table-horizontal">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Post.Title)</th>
            <td>@Html.DisplayFor(model => model.Post.Title)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Title)</th>
            <td>@Html.DisplayFor(model => model.Title)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <td>@Html.DisplayFor(model => model.Name)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Web)</th>
            <td>@Html.DisplayFor(model => model.Web)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Content)</th>
            <td>@Html.DisplayFor(model => model.Content)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Date)</th>
            <td>@Html.DisplayFor(model => model.Date)</td>
        </tr>
    </table>
</div>


<p>
    @Html.ActionLink("Back to List", "Index", new { id = Model.PostID }, new { @class = "link" })
    @Html.ActionLink("Edit", "Edit", new { id = Model.CommentID }, new { @class = "link" })
    @Html.ActionLink("Delete", "Delete", new { id = Model.CommentID }, new { @class = "link" })
</p>


       
