@model IEnumerable<Blog.Models.Post>

@{
    ViewBag.Title = "Blog Guests";
}


<p class="weather">
    <span class="wh">Shauli current house weather:</span> <br />
    The weather in: <span id="city"></span>, <span id="country"></span> <br />
    The temp is: <span id="temp"></span> C <br />
    The humidity is: <span id="humidity"></span> %<br />
</p>

<audio controls autoplay><source src="~/music/song.mp3" type="audio/mpeg" controls="controls"></audio>
<canvas id="myCanvas" width="10" height="10"></canvas>


@if (!Model.Any())
{
    <h2 id="empty">There are no posts</h2>
}
else
{
    <h1 id="title">Posts in Shauli Blog:</h1>
    foreach (var item in Model.Reverse())
    {
        <section id="posts">
            <article class="blogPost">
                <header>
                    <h2>@Html.DisplayFor(modelItem => item.Title)</h2>
                    <p>Posted on @Html.DisplayFor(modelItem => item.Date) by <a href="@item.Web">@Html.DisplayFor(modelItem => item.Name)</a> - <a href="#@item.PostID">@item.Comments.Count() comments</a></p>
                </header>
                <div>
                    @if (!String.IsNullOrEmpty(item.Image))
                    {
                        <img src="@item.Image" alt="Image" />
                    }
                    <p class="blabla">@Html.DisplayFor(modelItem => item.Content)</p>

                    @if (!String.IsNullOrEmpty(item.Video))
                    {
                        <video controls="controls">
                            <source src="@item.Video" />
                            Your browser does not support the video tag.
                        </video>
                    }
                </div>
            </article>
        </section>

        <section id="comments">
            <h3 id="@item.PostID">Comments for @item.Title:</h3>
            @if (item.Comments != null)
            {
                foreach (var comment in item.Comments)
                {
                    <article>
                        <header>
                            <h4>@Html.DisplayFor(modelItem => comment.Title)</h4>
                            <a href="@comment.Web">@Html.DisplayFor(modelItem => comment.Name)</a>
                            <time>@Html.DisplayFor(modelItem => comment.Date) </time>
                        </header>
                        <p>@Html.DisplayFor(modelItem => comment.Content)</p>
                    </article>
                }
            }
        </section>

        <section class="addComment">
            @using (Html.BeginForm())
            {
                <h3>Post a comment for @item.Title:</h3>
                <input type="hidden" name="postID" value="@item.PostID" />
                <p>
                    <label for="title">Title:</label>
                    <input name="title" id="title" type="text" required />
                </p>
                <p>
                    <label for="name">Name:</label>
                    <input name="name" id="name" type="text" required />
                </p>
                <p>
                    <label for="website">Website:</label>
                    <input name="website" id="website" type="url" required />
                </p>
                <p>
                    <label for="comment">Comment:</label>
                    <textarea name="comment" id="comment" required></textarea>
                </p>
                <p><input type="submit" value="Post comment" /></p>
            }
        </section>

    }
}
@section scripts {
    <script type="text/javascript" src="~/scripts/canvas.js"></script>
    <script type="text/javascript" src="~/scripts/Weather.js"></script>
}
