@model Blog.ViewModels.ViewModel
@{
    ViewBag.Title = "JoinGroup";
}
@section head {
    @Styles.Render("~/Styles/blog.css")
}


<h2 id="FanClubTitle">select quary:</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input name="submit" type="submit" value="Fans that are managers" class="btn btn-default" />
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input name="submit" type="submit" value="Same person publish" class="btn btn-default" />
    </div>
</div>
}


@if (ViewBag.msg == "FanManager")
{
    <table class="table">
        @if (!Model.FanManager.Any())
        {
            <tr><td>There are no results found</td></tr>
        }
        else
        {
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FanManager.First().Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FanManager.First().LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FanManager.First().UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FanManager.First().BirthDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FanManager.First().Seniority)
                </th>
                <th></th>
            </tr>

            foreach (var v in Model.FanManager)
            {
                
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => v.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => v.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => v.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => v.BirthDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => v.Seniority)
                    </td>

                </tr>
            }
        }
        
    </table>

}

@if (ViewBag.msg == "CommentPost")
{
    <table class="table">
        @if (!Model.CommPost.Any())
        {
            <tr><td>There are no results found</td></tr>
        }
        else
        {
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CommPost.First().Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CommPost.First().PostTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CommPost.First().PostDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CommPost.First().CommentTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CommPost.First().CommentDate)
                </th>
                <th></th>
            </tr>

            foreach (var v in Model.CommPost)
            {
               
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => v.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => v.PostTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => v.PostDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => v.CommentTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => v.CommentDate)
                    </td>

                </tr>
            }

        }
        
    </table>

}
